<div class="container mt-5 w-100 d-flex justify-content-center">
    <form>
        <h2 class="text-center">{{Title}}</h2>
        <div class="form-control">
            <label for="A">A oldal:</label>
            <input class="form-control" type="number" [(ngModel)]="A" name="A" id="A">
            <label for="A">B oldal:</label>
            <input class="form-control" type="number" [(ngModel)]="B" name="B" id="B">
            <label for="A">C oldal:</label>
            <input class="form-control" [(ngModel)]="C" name="C" id="C">
            <div class="text-center">
                <!-- (Event Binding) -->
                <button class="btn btn-primary m-2" (click)="haromszogKerSzamol()">Kerület Számítás</button>
                <button class="btn btn-primary m-2" (click)="reset()">Reset</button>
            </div>
            <div class="row mt-3">
                <div class="col-md-12" *ngIf="eredmeny !== null">
                <!-- (Kétirányú adatkötés) -->    
                        <p class="alert alert-success">A háromszög kerülete: {{ eredmeny }}</p>
                </div>
            </div>
        </div>
    </form>
</div>
